* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: right;
}
.header > li {
    display: inline;
    padding: 10px;
}
.simbol {
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(83, 83, 243);
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
    margin-top: 200px;

}
#search {
    width: 500px;
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
}

#btn {
    margin: 5px;
    padding: 8px;
    background-color: rgb(221, 216, 216);
}

footer {
    margin-top: 180px ;
    display: flex;
    flex-direction: column;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.first-four {
    padding-left: 0px;
}

.first-four > li {
    display: inline;
    margin-left: 20px;
}

.last-three > li {
    display: inline;
    margin-right: 20px;
}

.country, .info {
    background-color: #f8f9fa;
    border-top: 1px solid;
    border-color: #dadce0;;
}

#pt {
    margin-left: 20px;
    color: gray;
}

  .info a:link {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}